.buttons-actions {
    margin-left: 5%;
    width: 65%;
    text-align: center;
}

.anime-list {
    width: 30%;
    padding-right: 5%;
    border-right-style: solid;
    border-color: #646cff;
}

.list-item-separator {
    border-color: #646cff;
}

.shows-top-buttons {
    position: fixed;
    margin-left: 10%;
    margin-right: 10%;
    height: 150px;
}

.action-form {
    position: fixed;
    margin-top: 150px;
    margin-left: 5%;
    width: 45%;

    text-align: left;
    border-style: solid;
    border-radius: 20px;

    padding: 20px;
}