.buttons-actions {
    margin-left: 5%;
    width: 65%;
    text-align: center;
}

.anime-list {
    width: 30%;
    padding-right: 5%;
    border-right-style: solid;
    border-color: #646cff;
}

.list-item-separator {
    border-color: #646cff;
}

.list-button {
    display: inline;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #646cff;

}

.list-button:hover {
    background-color:#535bf2
}

.list-update {
    margin-left: 3%;
}

.list-remove {
    margin-right: 3%;

}

.shows-top-buttons {
    position: fixed;
    margin-left: 10%;
    margin-right: 10%;
    height: 150px;
}

.action-form {
    position: fixed;
    margin-top: 150px;
    margin-left: 5%;
    width: 45%;

    text-align: left;
    border-style: solid;
    border-radius: 20px;

    padding: 20px;
}

